// -------------------------------------------------------------
// サイト固有のHTMLエレメント基本スタイル
// -------------------------------------------------------------
@import "@/styles/base/_variables.scss";
@import "@/styles/function/_rem.scss";

// フォントファミリ設定
// Webフォントのインポート: *** Google Fonts *** https://fonts.google.com/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
$base-font: "roboto", "Noto Sans JP", "Hiragino Kaku Gothic ProN",
  "Hiragino Sans", "meiryo", "arial", sans-serif;

$font__color: $color-black;

#app {
  // MEMO: Vuetifyを導入すると「body」タグ指定ではダメだったため、代わりに「#app」指定にした
  font-family: $base-font;
  font-size: $font-size-base;
  color: $font__color;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

// -------------------------------------------------------------------------
// vuetify上書き
// -------------------------------------------------------------------------
.theme--light {
  color: $font__color  !important;
}