// -------------------------------------------------------------
// ブラウザごとの初期スタイル調整用CSS
// (各ブラウザ表示の差異をなくすリセットCSSの一つ)
// -------------------------------------------------------------
@import "@/styles/base/_variables.scss";

body {
  margin: 0; // ヘッダの余白を消す
}

ul {
  list-style-type: none; // liタグの初期の「点」を消す
  // 行頭の空白を消す
  padding-left: 0;
  padding-inline-start: 0 !important;
}

a {
  text-decoration: none; // リンクの下線なくす

  // aタグ初期値防止(初期値でブルーandパープル化等してしまうため)
  color: #1976d2;

  &:visited {
    color: #1976d2;
  }
}