// -------------------------------------------------------------
// Sassのグローバル変数管理ファイル
// -------------------------------------------------------------
@import "@/styles/function/_rem.scss";

// -------------------------------------------------------------
// カラー
// -------------------------------------------------------------
$color-black: #222222;
$color-gray: #666666;
$color-errorred: #ff5252;

// -------------------------------------------------------------
// フォント
// -------------------------------------------------------------
// 本文のフォントサイズ と 各見出しのジャンプ率の設定
$font-size-base: rem(16);
// TODO: 見出しはメディアクエリ化したい(tabで小さく)
$font-size-title: rem(34);
$font-size-h1: rem(54);
$font-size-h2: rem(40);
$font-size-small: rem(13);
